@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&family=Open+Sans&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&family=Open+Sans&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dosis:wght@600&family=Montserrat&family=Open+Sans&family=Quicksand:wght@500&family=Shadows+Into+Light&display=swap');

*{
    list-style: none;
    padding: 0;
    text-decoration: none;
    margin:0;
}

.section01{
    background: #F0F4F4;
    width: 100%;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: center;
    height: 60px;
}

#nav-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-right: 1.5rem;
}

.navlist{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#nav-ico{
    width: 45px;
}

.navbar >ul>li>a{
    margin-right: 1.5rem;
    color: #2A252E;
}

.navlist a:hover{
    background-color: #E2B5C0;
    border-radius: 10%;
    padding: 10px 5px;
}

#buttonJoin{
    font-weight: 500;
    background-color: #D13F30;
    border: none;
    padding: 0.80rem 4rem;
    border-radius: 0.75rem  0.75rem ;
}
#buttonJoin:hover{
    border-radius: 0.75rem 0 0.75rem 0;
    transform: scale(1.05);
}
#buttonJoin a{
    background-color: #D13F30;
    color: #ffffff;
    text-align: center;
}

.container01{
    display: flex;
    width: 90vw;
    height: auto;
    margin: 12vw auto auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.block01{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.block02{
    display: flex;
    width: 50%;
}

.block01 p{
    margin-right: 2rem;
}

.block01 h3{
    margin-right: 2rem;
}

.img01{
    width: 100%;
    height: auto;
}

h3{
    color:#2A252E;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    padding-bottom: 0.2rem;
}

p{
    color: #857971;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    padding-bottom: 0.5rem;
}

.block01 button{
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
    width: 12rem;
    height: 4rem;
    background-color: #D13F30;
    border-color: #D13F30;
    color:#ffffff;
    background-color: #D13F30;
    border: 2px solid #D13F30;
    padding: 1.08rem 2.2rem;
    border-radius: 0.75rem  0.75rem ;
    cursor: pointer;
    margin-right: 2rem;
}

button:hover{
    transform: scale(1.05);
}

.section02{
    background: #E8E8E8;
    width: 100%;
    height: auto;
}

.container02{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BlockText{
    display: flex;
    width: 70vw;
    height: 25vh;
    margin: 0 auto 1rem;
    padding:  .8rem ;
    background-color: #ffffff;
    justify-content:space-between;
    align-items: center;
    box-shadow: rgba(81, 81, 90, 0.2) 0px 7px 29px 0px;
    border-radius: 0.75rem ;
}

.BlockText img{
    margin-left:  55%;
    margin-right: 2rem;
    width: 35%;
}

#BlockText-medium{
    flex-direction: row-reverse;
    justify-content: space-between;
}

#BlockText-medium > div > img{
    margin-left:  2rem;
    margin-right: 55%;
    width: 35%;
}

.BlockText p{
    padding-left: 0.5rem;
    width: 100%;
}
.section03{
    background: #F0F4F4;
    width: 100%;
    height: auto;
}

.block-targets{
    display: flex;
    overflow-x: scroll;
    margin-left: 11vw ;
    width: 75vw;
    max-height: 250px;
    padding: 3.2rem 0 1.2rem;
    align-items: center;
    flex-direction: row;
}

.target{
    display: flex;
    min-width: 300px;
    height: 200px;
    margin: 0 1rem;
    padding: 0 .5rem .5rem ;
    background-color: #ffffff;
    justify-content:none;
    align-items: center;
    box-shadow: rgba(81, 81, 90, 0.2) 0px 7px 29px 0px;
    border-radius: 0.75rem ;
    flex-direction: column;
}
.target > p{
    color: #857971;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    padding-bottom: 0.5rem;
    text-align: justify;
}

.target > h4{
    color:#2A252E;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding: 0.8rem;
}

.section03>h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 17px;
    text-align: center;
    padding-top: 1rem;
}

.img-target{
    width: 55px;
    border-radius: 10%;
    position:relative;
    bottom: 25px;
}

.section04{
    background-color: #181F32;
    width: 100%;
    height: 20vh;
}

hr{
    height: 10px;
    background-color: #0D1117;
    border: none;
}

.float-target{
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
    margin: 0;
    width: 40vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    position:relative;
    left: 27vw;
    top: 10.2vh;
}

.float-target > h4{
    color:#2A252E;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

.float-target > button{
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
    background-color: #D13F30;
    border-color: #D13F30;
    color:#ffffff;
    background-color: #D13F30;
    border: 2px solid #D13F30;
    padding: 1.08vw 3.2vh;
    border-radius: 0.75rem  0.75rem ;
    cursor: pointer;
}

.container03{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    padding-top: .7rem;
    padding-left: 3rem;
}

.container03 img{
    width: 45px;
    padding-right: .5rem;
}

.container03 h1{
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
}

footer{
    background-color: #181F32;
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.container04{
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-around;     
}

.container04 >div > ul >li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#ffffff;
    padding: .5rem;
}

.container04 a{
    color:#ffffff
}

.container04 a:hover{
    color:#D13F30;
}

.contact-us-col4 img{
    width: 25px;
}

.sub-container > ul{
    display: flex;
    list-style: none;
}

@media only screen and (max-width: 620px) and (min-width:461px) {
    .container01{
        display: flex;
        width: 90vw;
        height: auto;
        margin: 17vw auto auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .block01 {
        display: flex;
        width: 85%;
        flex-direction: column;
        align-items: flex-start;
    }

    .img01 {
        width: 100%;
        height: auto;
        margin-top: 12vw;
    }

    h3 {
        color: #2A252E;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding-bottom: 0.2rem;
    }

    .BlockText {
        display: flex;
        width: 80vw;
        margin: 0 auto 1rem;
        padding: .8rem;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgb(81 81 90 / 20%) 0px 7px 29px 0px;
        border-radius: 0.75rem;
    }

    .BlockText img {
        margin-left: 24%;
        margin-right: 2rem;
        width: 70%;
    }

    #BlockText-medium > div > img {
        margin-left: 2rem;
        margin-right: 24%;
        width: 65%;
    }

    .float-target > h4 {
        color: #2A252E;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        text-align: center;
    }

}

@media only screen and (max-width: 460px){
    .container01 {
        display: flex;
        width: 90vw;
        height: auto;
        margin: 30vw auto auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    h3{
        color: #2A252E;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        padding-top: 1rem;
    }
    
    p {
        color: #857971;
        font-family: 'Dosis', sans-serif;
        font-size: 14px;
        padding-bottom: 1.3rem;
    }
    
    .sub-container > ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    .img01 {
        width: 110%;
        height: auto;
        margin-top: 25vw;
    }

    .block01 {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin-left: 7vh;
    }

    .float-target {
        display: flex;
        flex-direction: column;
        background-color: #E8E8E8;
        margin: 0;
        width: 50vw;
        height: 15vh;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        position: relative;
        left: 27vw;
        top: 7vh;
    }

    .BlockText img {
        margin-left: 24%;
        margin-right: 2rem;
        width: 85%;
    }

    #BlockText-medium > div > img {
        margin-left: 2rem;
        margin-right: 24%;
        width: 80%;
    }
}

/*hola*/